<div id="sidebar" class="aside">

	<div class="container">
		
	</div>

	

<div class="about-us">
	<h1>We showcase contemporary streetstyle on our blog.
Subscribe today and get the latest updates.</h1>
</div>	
<div class="ad-container">
<div class="title"><h4>Sponsored Item</h4></div>
<div class="side-placement">
<a href="http://bit.ly/TopShopSale"><img src="/images/side/topshop-sale.jpg" align="bottom" width="230" height="460" border="0" hspace="1" alt="Blog SALE - 300x600"></a>
</div>
</div>
</div>




</div>

