{% include header.html %}
<div id="content" class="clearfix">
    <div id="primary">
        {% for post in paginator.posts %} {% unless post.draft %}
        <article>
            <div class="article-head">
                <span class="article-title">{{ post.location }}</span><span class="article-date slash"> <span class="slash">&mdash;</span> {{ post.date | date:"%B %e, %Y" }}</span>
            </div>
            <div class="images-container">
                <div class="grid clearfix">
                    <div class="cover">
                        <a href="{{ post.url }}" title="See more of '{{ post.title }}'"><img src="{{ site.baseurl }}images/{{ post.date | date: "%Y-%m-%d" }}/{{ post.cover }}"></a>
                    </div>
                </div>
            </div>
            <div class="article-bottom">
                <a class="see-all" href="{{ post.url }}" title="See more of '{{ post.title }}'">View all products and images of this look &rarr;</a>
            </div>
        </article>
        {% endunless %} {% endfor %}
        <p class="pagination">
            {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
            <a class="left" href="/">&larr;Next Outfit</a> {% else %}
            <a class="left" href="/page{{paginator.previous_page}}">&larr;Next Outfit</a> {% endif %} {% else %}
            <span class="left slash">&larr;Next Outfit</span> {% endif %} {% if paginator.next_page %}
            <a class="right" href="/page{{paginator.next_page}}">Last Outfit&rarr;</a> {% else %}
            <span class="right slash">Last Outfit&rarr;</span> {% endif %}
        </p>
    </div>
    {% include sidebar.html %} {% include footer.html %}
